body{

margin:0;
font-family:Arial;
background:#f7f4ef;

}

header{

background:#f3eadf;
text-align:center;
padding:20px;

}

nav{

text-align:center;
background:#fff;
padding:10px;

}

nav a{

margin:15px;
text-decoration:none;
color:black;
font-weight:bold;

}

.hero{

text-align:center;
padding:60px;
background:#e8dccb;

}

.section{

padding:40px;
text-align:center;

}

.products{

display:flex;
justify-content:center;
gap:30px;

}

.card{

background:white;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
width:200px;

}

.card img{

width:100%;
border-radius:10px;

}

button{

background:black;
color:white;
border:none;
padding:10px 20px;
cursor:pointer;
margin-top:10px;

}

.checkout{

text-align:center;
padding:40px;

}

.checkout input{

display:block;
margin:10px auto;
padding:10px;
width:250px;

}

.payment{

text-align:center;
padding:40px;
display:none;

}

.qr{

width:200px;

}

footer{

text-align:center;
padding:20px;
background:#f3eadf;

}

.whatsapp{

position:fixed;
bottom:20px;
right:20px;
background:green;
color:white;
padding:10px 15px;
text-decoration:none;
border-radius:20px;

}
